﻿@{
    ViewBag.Title = "About";
}
<style>
    .product .img-responsive {
        margin: 0 auto !important;
    }

    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }

        blockquote:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }
</style>
<h2>@ViewBag.Title.</h2>
<h1>I am the man to restore your past</h1>

<hr />
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Images/john.jpg" alt="John" width="350" align="middle" class="img-responsive img-circle" />

        </div>
        <div class="col-sm-8">
            <blockquote>
                <h3>Hello my name is john, I have worked restoring furniture or whatever you want to restore. <br />I know the sentimental value of your posetions so I promise do the best work </h3>
                <h3>I have 15 years of experience doing this.</h3>
                <h3>I love my work.</h3>
            </blockquote>

        </div>
    </div>

</div>
