﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<hr />
<h3>Contact me for whatever you want</h3>

<h4>Address</h4>
<address>
    Great Valley<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Telephone:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:JognTheExpert@RestorerStore.com">JohnTheExpert@RestorationStore.com</a><br />
</address>